body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 20%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.topLevelDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BasketItem {
  display: flex;
  background-color: rgb(255, 255, 255); 
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
}
.productBoxDiv{
  width: 400px;
  height: 500px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(172, 172, 172, 0.644); 
  margin: 2px 3px 2px 3px;
  padding: 1rem;
}
.centerDiv--DictVersion{
  justify-content: center;
}
.MainProdListDiv{
  justify-content: center;
  display: flex;
  align-items: center;
}
.BaksetBox{
  max-height: 500px;
  background-color: rgb(194, 194, 194);
  padding: 1rem;
  border-radius: 6px;
  overflow: auto;
  margin: 15px 20px 15px 20px;
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.MainBox{
  background-color: rgb(255, 255, 255); 
  margin: 15px 20px 15px 20px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}